{% block body %}
<div class="cell"><h2>Idee <i>{{ entities[0].title }}</i> von {{ entities[0].creator}}</h2></div>
<div class="cell">
    <div class="grid-x grid-padding-x">
        {% for entity in entities %}
            <div class="cell small-9 large-2"><strong>{{ entity.title }}</strong></div>
            <div class="cell small-3 large-1">{{ entity.datetime|date('d.m.Y H:i') }}</div>
            <div class="cell small-12 large-4"><p>{{ entity.description }}</p></div>
            <div class="cell small-12 large-3">
                {% if entity.comments|length > 0 %}<strong>Kommentare:</strong><br />{% endif %}
                {% for comment in entity.comments %}
                    <p>{{ comment.comment }}<br /><i>{{ comment.creator }}, {{ comment.datetime|date('d.m.Y H:i') }}</i></p>
                {% endfor %}
            </div>
            <div class="cell small-12 large-2">{% if entity.votes|length > 0%}
                <strong>Stimmen:</strong><br />
                {% for vote in entity.votes %}{{ vote.voter }}{% if not loop.last %}, {% endif %}{% endfor %}
            {% endif %}</div>
        {% endfor %}
    </div>
</div>
<button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
</button>
{% endblock %}
