{% extends 'base.html.twig' %}

{% block body %}
<div class="top-bar sticky" data-sticky data-margin-top="0">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li><a href="{{ path('collection_index', {'entity': collection.id}) }}"><i class="fas fa-chevron-left"></i></a></li>
            <li class="menu-text">{{ collection.name }} - Benutzeradministration</li>
        </ul>
    </div>
</div>

<div><p><a href="{{ path('create_user', {'collection': collection.id}) }}"><i class="fas fa-plus"></i></a></p></div>

<div>
    <table>
        <thead>
            <tr>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>E-Mail</th>
                <th>Rolle</th>
                <th>Aktion</th>
            </tr>
        </thead>
        <tbody>
        {% for collectionUser in collectionUsers %}
            <tr>
                <td>{{ collectionUser.firstName }}</td>
                <td>{{ collectionUser.familyName }}</td>
                <td>{{ collectionUser.user.email }}</td>
                <td>{{ collectionUser.role }}</td>
                <td><a href="{{ path('edit_user', {'userCollection': collectionUser.id}) }}"><i class="fas fa-pencil-alt"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
