{% extends 'base.html.twig' %}

{% block body %}
<div class="cell">
    <a href="{{ path('collection_index', {'entity': collection.id}) }}">Zurück zur Ideensammlung</a> | <a href="{{ path('create_user', {'collection': collection.id}) }}">Benutzer erstellen</a> | <a href="{{ path('edit_admin_settings', {'collection': collection.id}) }}">Einstellungen bearbeiten (E-Mailvorlage etc.)</a> | <a href="{{ path('send_mail', {'collection': collection.id}) }}">Mail an alle Benutzer versenden</a>
</div>

<div class="cell">
    <table>
        <thead>
            <tr>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>E-Mail</th>
                <th>Rolle</th>
                <th>Login-URL</th>
                <th>Aktion</th>
            </tr>
        </thead>
        <tbody>
        {% for collectionUser in collectionUsers %}
            <tr>
                <td>{{ collectionUser.firstName }}</td>
                <td>{{ collectionUser.familyName }}</td>
                <td>{{ collectionUser.user.email }}</td>
                <td>{{ collectionUser.role }}</td>
                <td><a href="{{ app.request.getSchemeAndHttpHost() }}?u={{ collectionUser.user.apiToken }}">{{ app.request.getSchemeAndHttpHost() }}?u={{ collectionUser.user.apiToken }}</a></td>
                <td><a href="{{ path('edit_user', {'userCollection': collectionUser.id}) }}">bearbeiten</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
