{% block body %}
<div>
    <p><i>{{ idea.creator}}</i> <a href="javascript:void(0);" onclick="javascript:loadFromUrlOpenModal('{{ path('edit_idea', {'entity': idea.id}) }}');"><i class="fas fa-pencil-alt"></i></a></p>
    <p>{{ idea.description }}</p>
    {% if idea.comments|length > 0 %}<hr><p><strong>Kommentar(e):</strong></p>
        {% for comment in idea.comments %}
            <p>{{ comment.comment }}<br /><i>{{ comment.creator }}, {{ comment.datetime|date('d.m.Y H:i') }}</i></p>
        {% endfor %}
        <a href="javascript:void(0);" onclick="javascript:$('#ideaCommentForm_{{ idea.id }}').show()"><i class="fas fa-plus"></i></a>
        <div id="ideaCommentForm_{{ idea.id }}" style="display: none;">
            {{ form_start(form, {'action': path('comment_idea', {'entity': idea.id}), 'attr': {'id': 'modalForm'}}) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
        <hr>
    {% else %}
        <hr>
    {% endif %}
    <p><strong>{{ idea.votes|length }} Stimme(n)</strong></p>
</div>
{% endblock %}
