{% extends 'base.html.twig' %}

{% block body %}
<div class="top-bar sticky" data-sticky data-margin-top="0">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li><a href="{{ path('collections_index') }}"><i class="fas fa-chevron-left"></i></a></li>
            <li class="menu-text">{{ collection.name }}</li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
            <li>
                <a href="#"><i class="fas fa-bars"></i></a>
                <ul class="menu vertical">
                    {% if admin %}
                        <li><a href="{{ path('edit_admin_settings', {'collection': collection.id}) }}">Mailvorlage</a></li>
                        <li><a href="{{ path('toggle_mode', {'collection': collection.id}) }}">{% if collection.adminSettings.votingActive %}Sammelmodus{% else %}Wahlmodus{% endif %} aktivieren</a></li>
                        <li><a href="{{ path('toggle_anonymous_vote', {'collection': collection.id}) }}">Zu {% if collection.adminSettings.anonymousVote %}offener{% else %}anonymer{% endif %} Abstimmung wechseln</a></li>
                        <li><a href="{{ path('show_users', {'collection': collection.id}) }}">Benutzer administrieren</a></li>
                        <li><a href="{{ path('collection_edit', {'entity': collection.id}) }}">Ideensammlung bearbeiten</a></li>
                    {% endif %}
                </ul>
            </li>
        </ul>
    </div>
</div>
<div>
    {{ collection.description|markdown }}
</div>
{% if not collection.adminSettings.votingActive|default(false) %}
<div>
    <p><a href="javascript:void(0);" onclick="javascript:$('#newIdea').show();"><i class="fas fa-plus"></i></a></p>
</div>
<div id="newIdea" style="display:none;">
    {{ form(form) }}
    <hr>
</div>
{% endif %}

{% for idea in ideas %}
<div class="ideaContainer callout secondary">
    <a href="javascript:void(0);" onclick="javascript:toggleLoadFromUrl('{{ path('show_idea', {'entity': idea.id}) }}', '#ideaExpanded_{{ idea.id }}');" label="anzeigen">
        <div class="idea"><h5>{{ idea.title }}</h5></div>
    </a>
    <div class="votes" onclick="javascript:toggleVoteForIdea({{ idea.id }})">
    {% if collection.adminSettings.votingActive|default(false) %}
        <div class="switch small">
          <input class="switch-input" id="voteSwitchIdea_{{ idea.id }}" type="checkbox" name="voteSwitchIdea_{{ idea.id }}" {%- if idea.getVotesForUser(app.user)|length > 0 %}checked{% endif %}>
          <label class="switch-paddle">
            <span class="show-for-sr">Wählen</span>
          </label>
        </div>
    {% endif %}
    </div>
    <div class="comments" data-toggle="commentsDropdown">{{ idea.comments|length }} / <span id="votesCountIdea_{{ idea.id }}">{{ idea.votes|length }}</span></div>
    <div id="ideaExpanded_{{ idea.id }}"></div>
</div>
{% endfor %}
<div class="dropdown-pane" id="commentsDropdown" data-dropdown data-hover="true" data-hover-pane="true">Kommentare / Stimmen</div>
{% endblock %}

{% block javascripts %}
{% if collection.adminSettings.votingActive|default(false) %}
<script>
function toggleVoteForIdea(idea) {
    var url = "{{ path('vote_for_idea', {'entity': '__id__'}) }}";
    url = url.replace('__id__', idea);
    $.post(url, function( data ) {
        if (data.success === true) {
            var ideaSymbol = $("#voteSwitchIdea_"+idea);
            if (typeof ideaSymbol.attr('checked') === 'undefined') {
                ideaSymbol.attr('checked', true);
            } else {
                ideaSymbol.attr('checked', false);
            }
            $("#votesCountIdea_"+idea).html(data.voteCount);
        }
    });
}
</script>
{% endif %}
{% endblock %}
