{% extends 'base.html.twig' %}

{% block body %}
<div class="cell">
    <a href="{{ path('create_collection') }}">Neue Ideensammlung starten</a> | {% if not collection.adminSettings.votingActive|default(false) %}<a href="{{ path('create_idea', {'collection': collection.id}) }}">Neue Idee erfassen</a>{% endif %}{% if admin %} | <a href="{{ path('show_users', {'collection': collection.id}) }}">Administration</a>{% endif %}
</div>
<div class="cell">
    <div class="grid-x grid-padding-x grid-padding-y">
    {% for idea in ideas %}
        <div class="cell small-12 large-2"><a href="#" onclick="javascript:loadFromUrlOpenModal('{{ path('show_idea', {'entity': idea.id}) }}');" label="anzeigen"><strong>{{ idea.title }}</strong></a>{% if collection.adminSettings.votingActive|default(false) %} ({{ idea.votes|length }} Stimme/n){% endif %}</div>
        <div class="cell small-12 large-7">{{ idea.description }}</div>
        <div class="cell small-4 large-1">{% if not settings.votingActive|default(false) %}<a href="{{ path('edit_idea', {'entity': idea.id}) }}">bearbeiten</a>{% endif %}</div>
        <div class="cell small-4 large-1"><a href="#" onclick="javascript:loadFromUrlOpenModal('{{ path('comment_idea', {'entity': idea.id}) }}');">kommentieren</a></div>
        <div class="cell small-4 large-1">{% if collection.adminSettings.votingActive|default(false) %}<td>Für Idee stimmen: <input type="checkbox" name="{{ idea.id }}"{% if idea.getVotesForUser(app.user)|length > 0 %} checked='checked'{% endif %}>{% else %}&nbsp;{% endif %}</div>
        <div class="cell">&nbsp;</div>
    {% endfor %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
{% if collection.adminSettings.votingActive|default(false) %}
<script>
$(document).ready(function() {
    $('input[type="checkbox"]').on('change', function() {
        var url = "{{ path('vote_for_idea', {'entity': '__id__'}) }}";
        url = url.replace('__id__', $(this).attr('name'));
        $.post(url, function( data ) {
            location.reload();
        });
    });
});
</script>
{% endif %}
{% endblock %}
