{% extends 'base.html.twig' %}

{% block body %}
<div class="top-bar sticky" data-sticky data-margin-top="0">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li><a href="{{ path('collections_index') }}"><i class="fas fa-chevron-left"></i></a></li>
            <li class="menu-text">{{ collection.name }}</li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
            <li>
                <a href="#"><i class="fas fa-bars"></i></a>
                <ul class="menu vertical">
                    {% if admin %}
                        <li><a href="{{ path('edit_admin_settings', {'collection': collection.id}) }}">Mailvorlage</a></li>
                        <li><a href="{{ path('toggle_mode', {'collection': collection.id}) }}">{% if collection.adminSettings.votingActive %}Sammelmodus{% else %}Wahlmodus{% endif %} aktivieren</a></li>
                        <li><a href="{{ path('show_users', {'collection': collection.id}) }}">Benutzer administrieren</a></li>
                    {% endif %}
                </ul>
            </li>
        </ul>
    </div>
</div>
<div>
    <p>{{ collection.description|raw }}</p>
</div>
{% if not collection.adminSettings.votingActive|default(false) %}
<div>
    <p><a href="#" onclick="javascript:$('#newIdea').show();"><i class="fas fa-plus"></i></a></p>
</div>
<div id="newIdea" style="display:none;">
    {{ form(form) }}
    <hr>
</div>
{% endif %}

{% for idea in ideas %}
<div class="ideaContainer callout secondary">
    <a href="#" onclick="javascript:toggleLoadFromUrl('{{ path('show_idea', {'entity': idea.id}) }}', '#ideaExpanded_{{ idea.id }}');" label="anzeigen">
        <div class="idea"><h5>{{ idea.title }}</h5></div>
    </a>
    <div class="comments" data-toggle="commentsDropdown">{{ idea.comments|length }}</div>
    <div class="votes" data-toggle="votesDropdown">{{ idea.votes|length }}
        {% if collection.adminSettings.votingActive|default(false) %}
        <a href="javascript:voteForIdea({{ idea.id }})">
            {% if idea.getVotesForUser(app.user)|length > 0 %}<i class="fas fa-toggle-off"></i>
            {% else %}<i class="fas fa-toggle-on"></i>{% endif %}
        </a>{% endif %}
    </div>
    <div id="ideaExpanded_{{ idea.id }}"></div>
</div>
{% endfor %}
<div class="dropdown-pane" id="commentsDropdown" data-dropdown data-hover="true" data-hover-pane="true">Anzahl Kommentare</div>
<div class="dropdown-pane" id="votesDropdown" data-dropdown data-hover="true" data-hover-pane="true">Anzahl Stimmen</div>
{% endblock %}

{% block javascripts %}
{% if collection.adminSettings.votingActive|default(false) %}
<script>
function voteForIdea(idea) {
    var url = "{{ path('vote_for_idea', {'entity': '__id__'}) }}";
    url = url.replace('__id__', idea);
    $.post(url, function( data ) {
        location.reload();
    });
}
</script>
{% endif %}
{% endblock %}
